.header {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 4px 10px 0;

    button, a {
        all: unset;
        display: flex;
        align-items: center;
        color: white;
        font-size: 10px;
        font-weight: 500;
        height: 24px;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.gitHubLink {
    background: transparent;
}
