.header {
    display: flex;
    grid-gap: 5px;
    padding: 5px;

    > button, a {
        all: unset;
        color: white;
        font-size: 10px;
        font-weight: 500;
        padding: 3px 5px;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

button.startStop {
    background: var(--btn-start-stop);

    &:hover {
        background: var(--btn-start-stop-hover);
    }

    &:focus {
        box-shadow: var(--btn-start-stop-focus-shadow);
    }
}

button.file {
    background: var(--btn-file);

    &:hover {
        background: var(--btn-file-hover);
    }

    &:focus {
        box-shadow: var(--btn-file-focus-shadow);
    }
}

button.realtime {
    background: var(--btn-realtime);

    &:hover {
        background: var(--btn-realtime-hover);
    }

    &:focus {
        box-shadow: var(--btn-realtime-focus-shadow);
    }
}

a.gitHubLink {
    margin-left: auto;
    background: transparent;
    padding: 2px;

    > svg {
        height: 100%;
        fill: white;
    }
}
