@import './overlays';
@import './header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
    outline: none;
}

html, body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #000;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#canvas {
    width: 100%;
    flex-grow: 1;
}
